.text-block p{
    color: #000 !important;
}

.text-block ul li{
    color: #000 !important;
}

.bio-describe p{
    color: #000 !important;
}

.whatsapp-icons{
    position: fixed;
    right: 30px;
    bottom: 120px;
    height: 50px;
    width: 50px;
    background-color: #11ce75;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.whatsapp-icons i{
    font-size: 23px;
    color: #fff;
    margin-top: 3px;

} 


.tales {
    width: 100%;
  }
  .carousel-inner{
    width:100%;
    height: 450px !important;
    max-height: 450px !important;
  }

  .carousel-inner img{
    width:100%;
    height: 450px !important;
    max-height: 450px !important;
  }

  .carousel-caption h5{
    color: #fff;
    font-size: 30px;
    line-height: 0px !important;
  }

  .carousel-caption p{
    color: #fff;
  }

  .carousel-caption{
    bottom: 6.25rem !important;
  }